<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="28"
    android:versionName="3.7"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.yepgoryo.CaptureCap"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="permission:android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <permission
        android:name="com.yepgoryo.CaptureCap.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.yepgoryo.CaptureCap.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/Theme.AppCompat.Light"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name"
            android:name="com.yepgoryo.CaptureCap.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/settings_title"
            android:name="com.yepgoryo.CaptureCap.SettingsPanel"
            android:exported="true"
            android:parentActivityName="com.yepgoryo.CaptureCap.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yepgoryo.CaptureCap.MainActivity"/>
        </activity>
        <activity
            android:label="@string/info_title"
            android:name="com.yepgoryo.CaptureCap.AppInfo"
            android:exported="true"
            android:parentActivityName="com.yepgoryo.CaptureCap.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yepgoryo.CaptureCap.MainActivity"/>
        </activity>
        <activity
            android:label="@string/info_title"
            android:name="com.yepgoryo.CaptureCap.LicenseScreen"
            android:exported="true"
            android:parentActivityName="com.yepgoryo.CaptureCap.AppInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yepgoryo.CaptureCap.AppInfo"/>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/settings_title"
            android:name="com.yepgoryo.CaptureCap.PanelPositionScreen"
            android:exported="true"
            android:parentActivityName="com.yepgoryo.CaptureCap.SettingsPanel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yepgoryo.CaptureCap.SettingsPanel"/>
        </activity>
        <service
            android:name="com.yepgoryo.CaptureCap.ScreenRecorder"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>
        <service
            android:name="com.yepgoryo.CaptureCap.FloatingControls"
            android:exported="false"/>
        <service
            android:label="@string/recording_tile"
            android:icon="@drawable/icon_record_tile"
            android:name="com.yepgoryo.CaptureCap.QuickTile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.yepgoryo.CaptureCap.DocProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
    </application>
</manifest>
